@model List<Bookman.ViewModels.Home.LatestBookViewModel>

@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="row">

    <div class="col-sm-2">
        <h3>Genres</h3>
        <ul>
            <li style="border-bottom:double;"><h5>@Html.ActionLink("All Genres", "All", "Categories", null, new { style = "color:#444444;"})</h5></li> 
            <li><h5>@Html.ActionLink("Fantasy", "Show", "Categories", new { categoryName = "Fantasy" }, new { style = "color:#444444;" })</h5>
            <li><h5>@Html.ActionLink("Science-Fiction", "Show", "Categories", new { categoryName = "Science-Fiction" }, new { style = "color:#444444;" })</h5>
            <li><h5>@Html.ActionLink("Horror", "Show", "Categories", new { categoryName = "Horror" }, new { style = "color:#444444;" })</h5>
            <li><h5>@Html.ActionLink("Non-Fiction", "Show", "Categories", new { categoryName = "Non-Fiction" }, new { style = "color:#444444;" })</h5>
            <li><h5>@Html.ActionLink("Comedy", "Show", "Categories", new { categoryName = "Comedy" }, new { style = "color:#444444;" })</h5>
            <li><h5>@Html.ActionLink("Mystery", "Show", "Categories", new { categoryName = "Mystery" }, new { style = "color:#444444;" })</h5>
            <li><h5>@Html.ActionLink("Classical", "Show", "Categories", new { categoryName = "Classical" }, new { style = "color:#444444;" })</h5>
            <li><h5>@Html.ActionLink("Poetry", "Show", "Categories", new { categoryName = "Poetry" }, new { style = "color:#444444;" })</h5>
        </ul>
    </div>

    <div class="container">
        <h3 class="text-center">Latest books</h3>
        <div class="col-sm-8-offset-2"></div>
        @foreach (var book in Model)
        {
            <div class="col-sm-2">
                <img src="@Url.Content(book.CoverImageUrl)" alt="Cover Image" style="width:150px; height:250px" />
                <div class="btn btn-default">
                    <a href="/Books/Details/@book.Title">See more</a>
                </div>
            </div>
        }

        <br />
    </div>
</div>